.doc {
    padding: 10px;
    width: 55%;
    text-align: left;
}

img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    padding: 10px;
}

.profile {
    display: flex;
}

.disc {
    line-height: 0.5;
    padding: 10px;
    color: dimgray;
}

.description {
    color: dimgray;
    font-size: 18px;
    padding: 10px;
}

.proffe {
    display: flex;
    align-items: center;
}

.price {
    display: flex;
    align-items: center;
    font-weight: bold;
}

@media screen and (max-width: 1100px) {
    .proffe, .price {
        justify-content: center;
    }

    .doc {
        padding: 10px;
        width: 80%;
        text-align: center;
    }
    
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}